html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0 auto;
}

/* ------ Header ------ */
header {
  padding: 0;
  margin-bottom: 50px;
}

/* carousel */

.carousel {
  position: relative;
  padding: 0;
}

.carousel-item {
  width: 100%;
  height: 300px;
  display: none;
  &.item-selected {
    display: block;
  }
}

.carousel-item img {
  width: 100%;
  height: 350px;
  object-fit: cover;
}

.carousel h1 {
  position: absolute;
  bottom: 1px;
  padding: 1.15rem 1.5rem;
  z-index: 10;
  color: var(--background-clr);
  font-size: 34px;
}

.carousel h3 {
  margin-top: 40px;
  position: absolute;
  bottom: -25px;
  left: 20px;
  z-index: 10;
  color: var(--background-clr);
  font-size: 23px;
}

.carousel-nav {
  width: 100%;
  padding: 0px;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
}
.carousel-button {
  width: 10px;
  height: 10px;
  bottom: 2px;

  display: inline-block;

  background: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;

  &.button-selected {
    background: rgba(255, 255, 255, 0.8);
  }
}

li {
  list-style: none;
}
a {
  text-decoration: none;
}

.bx {
  font-size: 2.5rem;
}

/* Hamburger */
.menu ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: fixed;
  top: -100vh;
  left: 0;
  width: 100vw;
}

.menu li {
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease-in-out;
  height: 100vh;
  width: 20vw;
  text-align: center;
}

.menu li a {
  color: #fff;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
}

.menu li a:hover {
  text-decoration: underline;
}

.menu li:nth-of-type(2) {
  transition-delay: 0.025s;
}

.menu li:nth-of-type(3) {
  transition-delay: 0.05s;
}

.menu li:nth-of-type(4) {
  transition-delay: 0.075s;
}

.menu li:nth-of-type(5) {
  transition-delay: 0.1s;
}

.menu li:nth-of-type(6) {
  transition-delay: 0.15s;
}

.menu.open li {
  transform: translateY(100vh);
}

/* Initially hide elements with the .text-visible class */
.heading.text-visible,
.heading-author.text-visible {
  opacity: 5%;
}

/* Add this class to hide the elements */
.heading:not(.text-visible),
.heading-author:not(.text-visible) {
  display: block;
}

/* Hamburger menu */
.hamburger {
  background-color: #fff;
  border-radius: 10%;
  position: absolute;
  top: 20px;
  left: 20px;
  border: 0;
  cursor: pointer;
  width: 40px;
  height: 40px;
}

.hamburger:focus {
  outline: 0;
}

.hamburger .hamburg-line {
  background-color: #000;
  display: block;
  margin: 4px auto;
  height: 2px;
  width: 20px;
  transition: all 0.1s ease-in;
}

.hamburger.open .hamburg-line:nth-child(1) {
  transform: translateY(6px) rotate(45deg);
}

.hamburger.open .hamburg-line:nth-child(2) {
  opacity: 0;
}

.hamburger.open .hamburg-line:nth-child(3) {
  transform: translateY(-6px) rotate(-45deg);
}
/* ------ End of Header ------ */

/* ------ Bottom nav bar ------ */
.bottom-nav {
  padding: 10px;
}

.bottom-nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.bottom-nav ul li {
  margin: 0;
}

.bottom-nav ul li a {
  text-decoration: none;
  padding: 5px;
  line-height: 2rem;
  font-weight: 700;
  font-size: 25px;
  color: black;
}

.bottom-nav ul li a:hover,
.active {
  background-color: black;
  color: white;
  transition: color 0.5s ease;
  border-radius: 5px;
}
/* ------ End of Bottom nav bar ------ */

/* ------ Main Content ------ */
/* -- Main Articles -- */
main {
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

img {
  max-width: 100%;
  height: auto;
}
/* -- End of Sub Articles -- */

/* ------ Media Queries ------ */

/* Hide the navbar at 1550px and below */

@media (max-width: 768px) {
  .menu ul {
    flex-direction: column;
    top: 0;
    left: -100vw;
  }

  .menu li {
    height: 20vh;
    width: 100vw;
  }

  .menu.open li {
    transform: translateX(100vw);
  }

  .carousel-item h1 {
    font-size: 25px;
    margin-bottom: 20px;
  }
}

@media (max-width: 1550px) {
  .bottom-nav {
    display: none;
  }
}

@media (min-width: 300px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    background: black;
    padding: 1.5rem;
    color: white;
  }

  .main-headline {
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 0.3em;
  }

  .main-headline,
  .headline {
    color: var(--headline-clr);
  }
  footer {
    background-color: #000;
    text-align: right;
    padding: 1rem;
    color: rgb(136, 136, 136);
  }

  .author {
    font-size: 0.8rem;
    color: #6653ff;
  }

  .container h1 {
    width: 100%;
    display: inline;
    border-top: 5px solid white;
    font-size: 2.35rem;
    margin-bottom: 1rem;
    margin-top: 0;
  }

  p {
    color: rgb(136, 136, 136);
  }

  .main-article-container:nth-child(even) .main-article {
    flex-direction: row-reverse;
    width: 100%;
  }

  .main-article img {
    width: 100%;
    height: 440px;
    object-fit: cover;
  }

  .main-article .description {
    font-size: 1rem;
  }

  .main-article:hover .main-headline ~ p {
    color: #6653ff;
  }

  .main-article:hover .main-headline {
    color: #6653ff;
  }

  .sub-article:hover .headline {
    color: #6653ff;
  }

  .sub-article:hover .headline ~ p {
    color: #6653ff;
  }

  .main-article-container:last-of-type {
    margin-bottom: 3rem;
  }

  .sub-article {
    border-top: 1px solid rgba(136, 136, 136, 0.54);
    padding-top: 1.5rem;
    margin-bottom: 3rem;
  }

  .sub-article img {
    height: 200px;
    width: 60%;
    object-fit: cover;
    padding-bottom: 1.5rem;
  }

  .sub-article .sub-article-description {
    font-size: 0.8rem;
  }

  .line {
    border: solid 4px white;
    width: 80px;
  }
}

/* Mobile Landscape */
@media (min-width: 640px) {
  .wrapper {
    background: black;
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    background: black;
    padding: 1.5rem;
    color: white;
  }

  .main-article-container:nth-child(even) .main-article {
    flex-direction: row-reverse;
    text-align: right;
  }

  .main-article-container:nth-child(even) .line {
    margin-left: auto;
  }

  .main-article {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 100%;
    gap: 1rem;
    padding-bottom: 1rem;
  }

  .main-article img {
    width: 50%;
    object-fit: cover;
  }

  .main-article .description {
    width: 50%;
    font-size: 1rem;
  }

  .sub-article {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 1rem;
  }

  .sub-article .sub-article-description {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

@media (min-width: 1550px) {
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .wrapper {
    max-width: 1550px;
    background: white;
  }

  .container {
    background: white;
    color: black;
  }
  h1 {
    width: 100%;
    display: inline;
    border-top: none;
    font-size: 3.5rem;
    margin-bottom: 1rem;
    margin-top: 0;
  }

  .articles {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 2.5rem;
  }

  footer {
    background-color: white;
  }

  .articles .sub {
    width: 40%;
  }

  .sub-article-description .author {
    margin: 0;
  }

  .sub-article-description .published-date {
    margin-top: 0;
  }

  .main-aritlce.a1 {
    align-self: flex-;
  }

  .articles .main .main-article img {
    width: 50%;
    height: 500px;
    object-fit: cover;
  }

  .line {
    border: solid 4px rgb(0, 0, 0);
  }

  .articles .sub-article {
    display: flex;
    flex-direction: column;
  }

  .articles .sub-article img {
    height: 120px;
    width: 120px;
    padding: 0px;
  }

  .articles .sub-article .description {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
}
